/*
Xero Accounting API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.40.0
Contact: api@xero.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"time"
)


// AccountingAPIService AccountingAPI service
type AccountingAPIService service

type ApiCreateAccountRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	account *Account
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateAccountRequest) XeroTenantId(xeroTenantId string) ApiCreateAccountRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// Account object in body of request
func (r ApiCreateAccountRequest) Account(account Account) ApiCreateAccountRequest {
	r.account = &account
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateAccountRequest) IdempotencyKey(idempotencyKey string) ApiCreateAccountRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateAccountRequest) Execute() (*Accounts, *http.Response, error) {
	return r.ApiService.CreateAccountExecute(r)
}

/*
CreateAccount Creates a new chart of accounts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateAccountRequest
*/
func (a *AccountingAPIService) CreateAccount(ctx context.Context) ApiCreateAccountRequest {
	return ApiCreateAccountRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Accounts
func (a *AccountingAPIService) CreateAccountExecute(r ApiCreateAccountRequest) (*Accounts, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Accounts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.account == nil {
		return localVarReturnValue, nil, reportError("account is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.account
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateAccountAttachmentByFileNameRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	accountID string
	fileName string
	body *string
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateAccountAttachmentByFileNameRequest) XeroTenantId(xeroTenantId string) ApiCreateAccountAttachmentByFileNameRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// Byte array of file in body of request
func (r ApiCreateAccountAttachmentByFileNameRequest) Body(body string) ApiCreateAccountAttachmentByFileNameRequest {
	r.body = &body
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateAccountAttachmentByFileNameRequest) IdempotencyKey(idempotencyKey string) ApiCreateAccountAttachmentByFileNameRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateAccountAttachmentByFileNameRequest) Execute() (*Attachments, *http.Response, error) {
	return r.ApiService.CreateAccountAttachmentByFileNameExecute(r)
}

/*
CreateAccountAttachmentByFileName Creates an attachment on a specific account

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountID Unique identifier for Account object
 @param fileName Name of the attachment
 @return ApiCreateAccountAttachmentByFileNameRequest
*/
func (a *AccountingAPIService) CreateAccountAttachmentByFileName(ctx context.Context, accountID string, fileName string) ApiCreateAccountAttachmentByFileNameRequest {
	return ApiCreateAccountAttachmentByFileNameRequest{
		ApiService: a,
		ctx: ctx,
		accountID: accountID,
		fileName: fileName,
	}
}

// Execute executes the request
//  @return Attachments
func (a *AccountingAPIService) CreateAccountAttachmentByFileNameExecute(r ApiCreateAccountAttachmentByFileNameRequest) (*Attachments, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Attachments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateAccountAttachmentByFileName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Accounts/{AccountID}/Attachments/{FileName}"
	localVarPath = strings.Replace(localVarPath, "{"+"AccountID"+"}", url.PathEscape(parameterValueToString(r.accountID, "accountID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"FileName"+"}", url.PathEscape(parameterValueToString(r.fileName, "fileName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBankTransactionAttachmentByFileNameRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	bankTransactionID string
	fileName string
	body *string
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateBankTransactionAttachmentByFileNameRequest) XeroTenantId(xeroTenantId string) ApiCreateBankTransactionAttachmentByFileNameRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// Byte array of file in body of request
func (r ApiCreateBankTransactionAttachmentByFileNameRequest) Body(body string) ApiCreateBankTransactionAttachmentByFileNameRequest {
	r.body = &body
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateBankTransactionAttachmentByFileNameRequest) IdempotencyKey(idempotencyKey string) ApiCreateBankTransactionAttachmentByFileNameRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateBankTransactionAttachmentByFileNameRequest) Execute() (*Attachments, *http.Response, error) {
	return r.ApiService.CreateBankTransactionAttachmentByFileNameExecute(r)
}

/*
CreateBankTransactionAttachmentByFileName Creates an attachment for a specific bank transaction by filename

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankTransactionID Xero generated unique identifier for a bank transaction
 @param fileName Name of the attachment
 @return ApiCreateBankTransactionAttachmentByFileNameRequest
*/
func (a *AccountingAPIService) CreateBankTransactionAttachmentByFileName(ctx context.Context, bankTransactionID string, fileName string) ApiCreateBankTransactionAttachmentByFileNameRequest {
	return ApiCreateBankTransactionAttachmentByFileNameRequest{
		ApiService: a,
		ctx: ctx,
		bankTransactionID: bankTransactionID,
		fileName: fileName,
	}
}

// Execute executes the request
//  @return Attachments
func (a *AccountingAPIService) CreateBankTransactionAttachmentByFileNameExecute(r ApiCreateBankTransactionAttachmentByFileNameRequest) (*Attachments, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Attachments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateBankTransactionAttachmentByFileName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/BankTransactions/{BankTransactionID}/Attachments/{FileName}"
	localVarPath = strings.Replace(localVarPath, "{"+"BankTransactionID"+"}", url.PathEscape(parameterValueToString(r.bankTransactionID, "bankTransactionID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"FileName"+"}", url.PathEscape(parameterValueToString(r.fileName, "fileName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBankTransactionHistoryRecordRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	bankTransactionID string
	historyRecords *HistoryRecords
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateBankTransactionHistoryRecordRequest) XeroTenantId(xeroTenantId string) ApiCreateBankTransactionHistoryRecordRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// HistoryRecords containing an array of HistoryRecord objects in body of request
func (r ApiCreateBankTransactionHistoryRecordRequest) HistoryRecords(historyRecords HistoryRecords) ApiCreateBankTransactionHistoryRecordRequest {
	r.historyRecords = &historyRecords
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateBankTransactionHistoryRecordRequest) IdempotencyKey(idempotencyKey string) ApiCreateBankTransactionHistoryRecordRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateBankTransactionHistoryRecordRequest) Execute() (*HistoryRecords, *http.Response, error) {
	return r.ApiService.CreateBankTransactionHistoryRecordExecute(r)
}

/*
CreateBankTransactionHistoryRecord Creates a history record for a specific bank transactions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankTransactionID Xero generated unique identifier for a bank transaction
 @return ApiCreateBankTransactionHistoryRecordRequest
*/
func (a *AccountingAPIService) CreateBankTransactionHistoryRecord(ctx context.Context, bankTransactionID string) ApiCreateBankTransactionHistoryRecordRequest {
	return ApiCreateBankTransactionHistoryRecordRequest{
		ApiService: a,
		ctx: ctx,
		bankTransactionID: bankTransactionID,
	}
}

// Execute executes the request
//  @return HistoryRecords
func (a *AccountingAPIService) CreateBankTransactionHistoryRecordExecute(r ApiCreateBankTransactionHistoryRecordRequest) (*HistoryRecords, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HistoryRecords
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateBankTransactionHistoryRecord")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/BankTransactions/{BankTransactionID}/History"
	localVarPath = strings.Replace(localVarPath, "{"+"BankTransactionID"+"}", url.PathEscape(parameterValueToString(r.bankTransactionID, "bankTransactionID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.historyRecords == nil {
		return localVarReturnValue, nil, reportError("historyRecords is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.historyRecords
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBankTransactionsRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	bankTransactions *BankTransactions
	idempotencyKey *string
	summarizeErrors *bool
	unitdp *int32
}

// Xero identifier for Tenant
func (r ApiCreateBankTransactionsRequest) XeroTenantId(xeroTenantId string) ApiCreateBankTransactionsRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// BankTransactions with an array of BankTransaction objects in body of request
func (r ApiCreateBankTransactionsRequest) BankTransactions(bankTransactions BankTransactions) ApiCreateBankTransactionsRequest {
	r.bankTransactions = &bankTransactions
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateBankTransactionsRequest) IdempotencyKey(idempotencyKey string) ApiCreateBankTransactionsRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

// If false return 200 OK and mix of successfully created objects and any with validation errors
func (r ApiCreateBankTransactionsRequest) SummarizeErrors(summarizeErrors bool) ApiCreateBankTransactionsRequest {
	r.summarizeErrors = &summarizeErrors
	return r
}

// e.g. unitdp&#x3D;4 – (Unit Decimal Places) You can opt in to use four decimal places for unit amounts
func (r ApiCreateBankTransactionsRequest) Unitdp(unitdp int32) ApiCreateBankTransactionsRequest {
	r.unitdp = &unitdp
	return r
}

func (r ApiCreateBankTransactionsRequest) Execute() (*BankTransactions, *http.Response, error) {
	return r.ApiService.CreateBankTransactionsExecute(r)
}

/*
CreateBankTransactions Creates one or more spent or received money transaction

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateBankTransactionsRequest
*/
func (a *AccountingAPIService) CreateBankTransactions(ctx context.Context) ApiCreateBankTransactionsRequest {
	return ApiCreateBankTransactionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BankTransactions
func (a *AccountingAPIService) CreateBankTransactionsExecute(r ApiCreateBankTransactionsRequest) (*BankTransactions, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BankTransactions
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateBankTransactions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/BankTransactions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.bankTransactions == nil {
		return localVarReturnValue, nil, reportError("bankTransactions is required and must be specified")
	}

	if r.summarizeErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "summarizeErrors", r.summarizeErrors, "")
	}
	if r.unitdp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unitdp", r.unitdp, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.bankTransactions
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBankTransferRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	bankTransfers *BankTransfers
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateBankTransferRequest) XeroTenantId(xeroTenantId string) ApiCreateBankTransferRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// BankTransfers with array of BankTransfer objects in request body
func (r ApiCreateBankTransferRequest) BankTransfers(bankTransfers BankTransfers) ApiCreateBankTransferRequest {
	r.bankTransfers = &bankTransfers
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateBankTransferRequest) IdempotencyKey(idempotencyKey string) ApiCreateBankTransferRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateBankTransferRequest) Execute() (*BankTransfers, *http.Response, error) {
	return r.ApiService.CreateBankTransferExecute(r)
}

/*
CreateBankTransfer Creates a bank transfer

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateBankTransferRequest
*/
func (a *AccountingAPIService) CreateBankTransfer(ctx context.Context) ApiCreateBankTransferRequest {
	return ApiCreateBankTransferRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BankTransfers
func (a *AccountingAPIService) CreateBankTransferExecute(r ApiCreateBankTransferRequest) (*BankTransfers, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BankTransfers
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateBankTransfer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/BankTransfers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.bankTransfers == nil {
		return localVarReturnValue, nil, reportError("bankTransfers is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.bankTransfers
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBankTransferAttachmentByFileNameRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	bankTransferID string
	fileName string
	body *string
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateBankTransferAttachmentByFileNameRequest) XeroTenantId(xeroTenantId string) ApiCreateBankTransferAttachmentByFileNameRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// Byte array of file in body of request
func (r ApiCreateBankTransferAttachmentByFileNameRequest) Body(body string) ApiCreateBankTransferAttachmentByFileNameRequest {
	r.body = &body
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateBankTransferAttachmentByFileNameRequest) IdempotencyKey(idempotencyKey string) ApiCreateBankTransferAttachmentByFileNameRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateBankTransferAttachmentByFileNameRequest) Execute() (*Attachments, *http.Response, error) {
	return r.ApiService.CreateBankTransferAttachmentByFileNameExecute(r)
}

/*
CreateBankTransferAttachmentByFileName Method for CreateBankTransferAttachmentByFileName

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankTransferID Xero generated unique identifier for a bank transfer
 @param fileName Name of the attachment
 @return ApiCreateBankTransferAttachmentByFileNameRequest
*/
func (a *AccountingAPIService) CreateBankTransferAttachmentByFileName(ctx context.Context, bankTransferID string, fileName string) ApiCreateBankTransferAttachmentByFileNameRequest {
	return ApiCreateBankTransferAttachmentByFileNameRequest{
		ApiService: a,
		ctx: ctx,
		bankTransferID: bankTransferID,
		fileName: fileName,
	}
}

// Execute executes the request
//  @return Attachments
func (a *AccountingAPIService) CreateBankTransferAttachmentByFileNameExecute(r ApiCreateBankTransferAttachmentByFileNameRequest) (*Attachments, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Attachments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateBankTransferAttachmentByFileName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/BankTransfers/{BankTransferID}/Attachments/{FileName}"
	localVarPath = strings.Replace(localVarPath, "{"+"BankTransferID"+"}", url.PathEscape(parameterValueToString(r.bankTransferID, "bankTransferID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"FileName"+"}", url.PathEscape(parameterValueToString(r.fileName, "fileName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBankTransferHistoryRecordRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	bankTransferID string
	historyRecords *HistoryRecords
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateBankTransferHistoryRecordRequest) XeroTenantId(xeroTenantId string) ApiCreateBankTransferHistoryRecordRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// HistoryRecords containing an array of HistoryRecord objects in body of request
func (r ApiCreateBankTransferHistoryRecordRequest) HistoryRecords(historyRecords HistoryRecords) ApiCreateBankTransferHistoryRecordRequest {
	r.historyRecords = &historyRecords
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateBankTransferHistoryRecordRequest) IdempotencyKey(idempotencyKey string) ApiCreateBankTransferHistoryRecordRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateBankTransferHistoryRecordRequest) Execute() (*HistoryRecords, *http.Response, error) {
	return r.ApiService.CreateBankTransferHistoryRecordExecute(r)
}

/*
CreateBankTransferHistoryRecord Creates a history record for a specific bank transfer

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bankTransferID Xero generated unique identifier for a bank transfer
 @return ApiCreateBankTransferHistoryRecordRequest
*/
func (a *AccountingAPIService) CreateBankTransferHistoryRecord(ctx context.Context, bankTransferID string) ApiCreateBankTransferHistoryRecordRequest {
	return ApiCreateBankTransferHistoryRecordRequest{
		ApiService: a,
		ctx: ctx,
		bankTransferID: bankTransferID,
	}
}

// Execute executes the request
//  @return HistoryRecords
func (a *AccountingAPIService) CreateBankTransferHistoryRecordExecute(r ApiCreateBankTransferHistoryRecordRequest) (*HistoryRecords, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HistoryRecords
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateBankTransferHistoryRecord")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/BankTransfers/{BankTransferID}/History"
	localVarPath = strings.Replace(localVarPath, "{"+"BankTransferID"+"}", url.PathEscape(parameterValueToString(r.bankTransferID, "bankTransferID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.historyRecords == nil {
		return localVarReturnValue, nil, reportError("historyRecords is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.historyRecords
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBatchPaymentRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	batchPayments *BatchPayments
	summarizeErrors *bool
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateBatchPaymentRequest) XeroTenantId(xeroTenantId string) ApiCreateBatchPaymentRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// BatchPayments with an array of Payments in body of request
func (r ApiCreateBatchPaymentRequest) BatchPayments(batchPayments BatchPayments) ApiCreateBatchPaymentRequest {
	r.batchPayments = &batchPayments
	return r
}

// If false return 200 OK and mix of successfully created objects and any with validation errors
func (r ApiCreateBatchPaymentRequest) SummarizeErrors(summarizeErrors bool) ApiCreateBatchPaymentRequest {
	r.summarizeErrors = &summarizeErrors
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateBatchPaymentRequest) IdempotencyKey(idempotencyKey string) ApiCreateBatchPaymentRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateBatchPaymentRequest) Execute() (*BatchPayments, *http.Response, error) {
	return r.ApiService.CreateBatchPaymentExecute(r)
}

/*
CreateBatchPayment Creates one or many batch payments for invoices

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateBatchPaymentRequest
*/
func (a *AccountingAPIService) CreateBatchPayment(ctx context.Context) ApiCreateBatchPaymentRequest {
	return ApiCreateBatchPaymentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BatchPayments
func (a *AccountingAPIService) CreateBatchPaymentExecute(r ApiCreateBatchPaymentRequest) (*BatchPayments, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BatchPayments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateBatchPayment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/BatchPayments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.batchPayments == nil {
		return localVarReturnValue, nil, reportError("batchPayments is required and must be specified")
	}

	if r.summarizeErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "summarizeErrors", r.summarizeErrors, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.batchPayments
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBatchPaymentHistoryRecordRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	batchPaymentID string
	historyRecords *HistoryRecords
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateBatchPaymentHistoryRecordRequest) XeroTenantId(xeroTenantId string) ApiCreateBatchPaymentHistoryRecordRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// HistoryRecords containing an array of HistoryRecord objects in body of request
func (r ApiCreateBatchPaymentHistoryRecordRequest) HistoryRecords(historyRecords HistoryRecords) ApiCreateBatchPaymentHistoryRecordRequest {
	r.historyRecords = &historyRecords
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateBatchPaymentHistoryRecordRequest) IdempotencyKey(idempotencyKey string) ApiCreateBatchPaymentHistoryRecordRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateBatchPaymentHistoryRecordRequest) Execute() (*HistoryRecords, *http.Response, error) {
	return r.ApiService.CreateBatchPaymentHistoryRecordExecute(r)
}

/*
CreateBatchPaymentHistoryRecord Creates a history record for a specific batch payment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param batchPaymentID Unique identifier for BatchPayment
 @return ApiCreateBatchPaymentHistoryRecordRequest
*/
func (a *AccountingAPIService) CreateBatchPaymentHistoryRecord(ctx context.Context, batchPaymentID string) ApiCreateBatchPaymentHistoryRecordRequest {
	return ApiCreateBatchPaymentHistoryRecordRequest{
		ApiService: a,
		ctx: ctx,
		batchPaymentID: batchPaymentID,
	}
}

// Execute executes the request
//  @return HistoryRecords
func (a *AccountingAPIService) CreateBatchPaymentHistoryRecordExecute(r ApiCreateBatchPaymentHistoryRecordRequest) (*HistoryRecords, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HistoryRecords
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateBatchPaymentHistoryRecord")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/BatchPayments/{BatchPaymentID}/History"
	localVarPath = strings.Replace(localVarPath, "{"+"BatchPaymentID"+"}", url.PathEscape(parameterValueToString(r.batchPaymentID, "batchPaymentID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.historyRecords == nil {
		return localVarReturnValue, nil, reportError("historyRecords is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.historyRecords
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBrandingThemePaymentServicesRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	brandingThemeID string
	paymentServices *PaymentServices
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateBrandingThemePaymentServicesRequest) XeroTenantId(xeroTenantId string) ApiCreateBrandingThemePaymentServicesRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// PaymentServices array with PaymentService object in body of request
func (r ApiCreateBrandingThemePaymentServicesRequest) PaymentServices(paymentServices PaymentServices) ApiCreateBrandingThemePaymentServicesRequest {
	r.paymentServices = &paymentServices
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateBrandingThemePaymentServicesRequest) IdempotencyKey(idempotencyKey string) ApiCreateBrandingThemePaymentServicesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateBrandingThemePaymentServicesRequest) Execute() (*PaymentServices, *http.Response, error) {
	return r.ApiService.CreateBrandingThemePaymentServicesExecute(r)
}

/*
CreateBrandingThemePaymentServices Creates a new custom payment service for a specific branding theme

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param brandingThemeID Unique identifier for a Branding Theme
 @return ApiCreateBrandingThemePaymentServicesRequest
*/
func (a *AccountingAPIService) CreateBrandingThemePaymentServices(ctx context.Context, brandingThemeID string) ApiCreateBrandingThemePaymentServicesRequest {
	return ApiCreateBrandingThemePaymentServicesRequest{
		ApiService: a,
		ctx: ctx,
		brandingThemeID: brandingThemeID,
	}
}

// Execute executes the request
//  @return PaymentServices
func (a *AccountingAPIService) CreateBrandingThemePaymentServicesExecute(r ApiCreateBrandingThemePaymentServicesRequest) (*PaymentServices, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaymentServices
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateBrandingThemePaymentServices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/BrandingThemes/{BrandingThemeID}/PaymentServices"
	localVarPath = strings.Replace(localVarPath, "{"+"BrandingThemeID"+"}", url.PathEscape(parameterValueToString(r.brandingThemeID, "brandingThemeID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.paymentServices == nil {
		return localVarReturnValue, nil, reportError("paymentServices is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.paymentServices
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateContactAttachmentByFileNameRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	contactID string
	fileName string
	body *string
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateContactAttachmentByFileNameRequest) XeroTenantId(xeroTenantId string) ApiCreateContactAttachmentByFileNameRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// Byte array of file in body of request
func (r ApiCreateContactAttachmentByFileNameRequest) Body(body string) ApiCreateContactAttachmentByFileNameRequest {
	r.body = &body
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateContactAttachmentByFileNameRequest) IdempotencyKey(idempotencyKey string) ApiCreateContactAttachmentByFileNameRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateContactAttachmentByFileNameRequest) Execute() (*Attachments, *http.Response, error) {
	return r.ApiService.CreateContactAttachmentByFileNameExecute(r)
}

/*
CreateContactAttachmentByFileName Method for CreateContactAttachmentByFileName

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactID Unique identifier for a Contact
 @param fileName Name of the attachment
 @return ApiCreateContactAttachmentByFileNameRequest
*/
func (a *AccountingAPIService) CreateContactAttachmentByFileName(ctx context.Context, contactID string, fileName string) ApiCreateContactAttachmentByFileNameRequest {
	return ApiCreateContactAttachmentByFileNameRequest{
		ApiService: a,
		ctx: ctx,
		contactID: contactID,
		fileName: fileName,
	}
}

// Execute executes the request
//  @return Attachments
func (a *AccountingAPIService) CreateContactAttachmentByFileNameExecute(r ApiCreateContactAttachmentByFileNameRequest) (*Attachments, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Attachments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateContactAttachmentByFileName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Contacts/{ContactID}/Attachments/{FileName}"
	localVarPath = strings.Replace(localVarPath, "{"+"ContactID"+"}", url.PathEscape(parameterValueToString(r.contactID, "contactID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"FileName"+"}", url.PathEscape(parameterValueToString(r.fileName, "fileName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateContactGroupRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	contactGroups *ContactGroups
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateContactGroupRequest) XeroTenantId(xeroTenantId string) ApiCreateContactGroupRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// ContactGroups with an array of names in request body
func (r ApiCreateContactGroupRequest) ContactGroups(contactGroups ContactGroups) ApiCreateContactGroupRequest {
	r.contactGroups = &contactGroups
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateContactGroupRequest) IdempotencyKey(idempotencyKey string) ApiCreateContactGroupRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateContactGroupRequest) Execute() (*ContactGroups, *http.Response, error) {
	return r.ApiService.CreateContactGroupExecute(r)
}

/*
CreateContactGroup Creates a contact group

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateContactGroupRequest
*/
func (a *AccountingAPIService) CreateContactGroup(ctx context.Context) ApiCreateContactGroupRequest {
	return ApiCreateContactGroupRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ContactGroups
func (a *AccountingAPIService) CreateContactGroupExecute(r ApiCreateContactGroupRequest) (*ContactGroups, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContactGroups
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateContactGroup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ContactGroups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.contactGroups == nil {
		return localVarReturnValue, nil, reportError("contactGroups is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.contactGroups
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateContactGroupContactsRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	contactGroupID string
	contacts *Contacts
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateContactGroupContactsRequest) XeroTenantId(xeroTenantId string) ApiCreateContactGroupContactsRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// Contacts with array of contacts specifying the ContactID to be added to ContactGroup in body of request
func (r ApiCreateContactGroupContactsRequest) Contacts(contacts Contacts) ApiCreateContactGroupContactsRequest {
	r.contacts = &contacts
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateContactGroupContactsRequest) IdempotencyKey(idempotencyKey string) ApiCreateContactGroupContactsRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateContactGroupContactsRequest) Execute() (*Contacts, *http.Response, error) {
	return r.ApiService.CreateContactGroupContactsExecute(r)
}

/*
CreateContactGroupContacts Creates contacts to a specific contact group

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactGroupID Unique identifier for a Contact Group
 @return ApiCreateContactGroupContactsRequest
*/
func (a *AccountingAPIService) CreateContactGroupContacts(ctx context.Context, contactGroupID string) ApiCreateContactGroupContactsRequest {
	return ApiCreateContactGroupContactsRequest{
		ApiService: a,
		ctx: ctx,
		contactGroupID: contactGroupID,
	}
}

// Execute executes the request
//  @return Contacts
func (a *AccountingAPIService) CreateContactGroupContactsExecute(r ApiCreateContactGroupContactsRequest) (*Contacts, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Contacts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateContactGroupContacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ContactGroups/{ContactGroupID}/Contacts"
	localVarPath = strings.Replace(localVarPath, "{"+"ContactGroupID"+"}", url.PathEscape(parameterValueToString(r.contactGroupID, "contactGroupID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.contacts == nil {
		return localVarReturnValue, nil, reportError("contacts is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.contacts
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateContactHistoryRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	contactID string
	historyRecords *HistoryRecords
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateContactHistoryRequest) XeroTenantId(xeroTenantId string) ApiCreateContactHistoryRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// HistoryRecords containing an array of HistoryRecord objects in body of request
func (r ApiCreateContactHistoryRequest) HistoryRecords(historyRecords HistoryRecords) ApiCreateContactHistoryRequest {
	r.historyRecords = &historyRecords
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateContactHistoryRequest) IdempotencyKey(idempotencyKey string) ApiCreateContactHistoryRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateContactHistoryRequest) Execute() (*HistoryRecords, *http.Response, error) {
	return r.ApiService.CreateContactHistoryExecute(r)
}

/*
CreateContactHistory Creates a new history record for a specific contact

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactID Unique identifier for a Contact
 @return ApiCreateContactHistoryRequest
*/
func (a *AccountingAPIService) CreateContactHistory(ctx context.Context, contactID string) ApiCreateContactHistoryRequest {
	return ApiCreateContactHistoryRequest{
		ApiService: a,
		ctx: ctx,
		contactID: contactID,
	}
}

// Execute executes the request
//  @return HistoryRecords
func (a *AccountingAPIService) CreateContactHistoryExecute(r ApiCreateContactHistoryRequest) (*HistoryRecords, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HistoryRecords
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateContactHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Contacts/{ContactID}/History"
	localVarPath = strings.Replace(localVarPath, "{"+"ContactID"+"}", url.PathEscape(parameterValueToString(r.contactID, "contactID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.historyRecords == nil {
		return localVarReturnValue, nil, reportError("historyRecords is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.historyRecords
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateContactsRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	contacts *Contacts
	idempotencyKey *string
	summarizeErrors *bool
}

// Xero identifier for Tenant
func (r ApiCreateContactsRequest) XeroTenantId(xeroTenantId string) ApiCreateContactsRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// Contacts with an array of Contact objects to create in body of request
func (r ApiCreateContactsRequest) Contacts(contacts Contacts) ApiCreateContactsRequest {
	r.contacts = &contacts
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateContactsRequest) IdempotencyKey(idempotencyKey string) ApiCreateContactsRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

// If false return 200 OK and mix of successfully created objects and any with validation errors
func (r ApiCreateContactsRequest) SummarizeErrors(summarizeErrors bool) ApiCreateContactsRequest {
	r.summarizeErrors = &summarizeErrors
	return r
}

func (r ApiCreateContactsRequest) Execute() (*Contacts, *http.Response, error) {
	return r.ApiService.CreateContactsExecute(r)
}

/*
CreateContacts Creates multiple contacts (bulk) in a Xero organisation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateContactsRequest
*/
func (a *AccountingAPIService) CreateContacts(ctx context.Context) ApiCreateContactsRequest {
	return ApiCreateContactsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Contacts
func (a *AccountingAPIService) CreateContactsExecute(r ApiCreateContactsRequest) (*Contacts, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Contacts
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateContacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Contacts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.contacts == nil {
		return localVarReturnValue, nil, reportError("contacts is required and must be specified")
	}

	if r.summarizeErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "summarizeErrors", r.summarizeErrors, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.contacts
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCreditNoteAllocationRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	creditNoteID string
	allocations *Allocations
	idempotencyKey *string
	summarizeErrors *bool
}

// Xero identifier for Tenant
func (r ApiCreateCreditNoteAllocationRequest) XeroTenantId(xeroTenantId string) ApiCreateCreditNoteAllocationRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// Allocations with array of Allocation object in body of request.
func (r ApiCreateCreditNoteAllocationRequest) Allocations(allocations Allocations) ApiCreateCreditNoteAllocationRequest {
	r.allocations = &allocations
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateCreditNoteAllocationRequest) IdempotencyKey(idempotencyKey string) ApiCreateCreditNoteAllocationRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

// If false return 200 OK and mix of successfully created objects and any with validation errors
func (r ApiCreateCreditNoteAllocationRequest) SummarizeErrors(summarizeErrors bool) ApiCreateCreditNoteAllocationRequest {
	r.summarizeErrors = &summarizeErrors
	return r
}

func (r ApiCreateCreditNoteAllocationRequest) Execute() (*Allocations, *http.Response, error) {
	return r.ApiService.CreateCreditNoteAllocationExecute(r)
}

/*
CreateCreditNoteAllocation Creates allocation for a specific credit note

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param creditNoteID Unique identifier for a Credit Note
 @return ApiCreateCreditNoteAllocationRequest
*/
func (a *AccountingAPIService) CreateCreditNoteAllocation(ctx context.Context, creditNoteID string) ApiCreateCreditNoteAllocationRequest {
	return ApiCreateCreditNoteAllocationRequest{
		ApiService: a,
		ctx: ctx,
		creditNoteID: creditNoteID,
	}
}

// Execute executes the request
//  @return Allocations
func (a *AccountingAPIService) CreateCreditNoteAllocationExecute(r ApiCreateCreditNoteAllocationRequest) (*Allocations, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Allocations
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateCreditNoteAllocation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/CreditNotes/{CreditNoteID}/Allocations"
	localVarPath = strings.Replace(localVarPath, "{"+"CreditNoteID"+"}", url.PathEscape(parameterValueToString(r.creditNoteID, "creditNoteID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.allocations == nil {
		return localVarReturnValue, nil, reportError("allocations is required and must be specified")
	}

	if r.summarizeErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "summarizeErrors", r.summarizeErrors, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.allocations
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCreditNoteAttachmentByFileNameRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	creditNoteID string
	fileName string
	body *string
	idempotencyKey *string
	includeOnline *bool
}

// Xero identifier for Tenant
func (r ApiCreateCreditNoteAttachmentByFileNameRequest) XeroTenantId(xeroTenantId string) ApiCreateCreditNoteAttachmentByFileNameRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// Byte array of file in body of request
func (r ApiCreateCreditNoteAttachmentByFileNameRequest) Body(body string) ApiCreateCreditNoteAttachmentByFileNameRequest {
	r.body = &body
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateCreditNoteAttachmentByFileNameRequest) IdempotencyKey(idempotencyKey string) ApiCreateCreditNoteAttachmentByFileNameRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

// Allows an attachment to be seen by the end customer within their online invoice
func (r ApiCreateCreditNoteAttachmentByFileNameRequest) IncludeOnline(includeOnline bool) ApiCreateCreditNoteAttachmentByFileNameRequest {
	r.includeOnline = &includeOnline
	return r
}

func (r ApiCreateCreditNoteAttachmentByFileNameRequest) Execute() (*Attachments, *http.Response, error) {
	return r.ApiService.CreateCreditNoteAttachmentByFileNameExecute(r)
}

/*
CreateCreditNoteAttachmentByFileName Creates an attachment for a specific credit note

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param creditNoteID Unique identifier for a Credit Note
 @param fileName Name of the attachment
 @return ApiCreateCreditNoteAttachmentByFileNameRequest
*/
func (a *AccountingAPIService) CreateCreditNoteAttachmentByFileName(ctx context.Context, creditNoteID string, fileName string) ApiCreateCreditNoteAttachmentByFileNameRequest {
	return ApiCreateCreditNoteAttachmentByFileNameRequest{
		ApiService: a,
		ctx: ctx,
		creditNoteID: creditNoteID,
		fileName: fileName,
	}
}

// Execute executes the request
//  @return Attachments
func (a *AccountingAPIService) CreateCreditNoteAttachmentByFileNameExecute(r ApiCreateCreditNoteAttachmentByFileNameRequest) (*Attachments, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Attachments
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateCreditNoteAttachmentByFileName")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/CreditNotes/{CreditNoteID}/Attachments/{FileName}"
	localVarPath = strings.Replace(localVarPath, "{"+"CreditNoteID"+"}", url.PathEscape(parameterValueToString(r.creditNoteID, "creditNoteID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"FileName"+"}", url.PathEscape(parameterValueToString(r.fileName, "fileName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.includeOnline != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IncludeOnline", r.includeOnline, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "xero-tenant-id", r.xeroTenantId, "")
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCreditNoteHistoryRequest struct {
	ctx context.Context
	ApiService *AccountingAPIService
	xeroTenantId *string
	creditNoteID string
	historyRecords *HistoryRecords
	idempotencyKey *string
}

// Xero identifier for Tenant
func (r ApiCreateCreditNoteHistoryRequest) XeroTenantId(xeroTenantId string) ApiCreateCreditNoteHistoryRequest {
	r.xeroTenantId = &xeroTenantId
	return r
}

// HistoryRecords containing an array of HistoryRecord objects in body of request
func (r ApiCreateCreditNoteHistoryRequest) HistoryRecords(historyRecords HistoryRecords) ApiCreateCreditNoteHistoryRequest {
	r.historyRecords = &historyRecords
	return r
}

// This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
func (r ApiCreateCreditNoteHistoryRequest) IdempotencyKey(idempotencyKey string) ApiCreateCreditNoteHistoryRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateCreditNoteHistoryRequest) Execute() (*HistoryRecords, *http.Response, error) {
	return r.ApiService.CreateCreditNoteHistoryExecute(r)
}

/*
CreateCreditNoteHistory Retrieves history records of a specific credit note

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param creditNoteID Unique identifier for a Credit Note
 @return ApiCreateCreditNoteHistoryRequest
*/
func (a *AccountingAPIService) CreateCreditNoteHistory(ctx context.Context, creditNoteID string) ApiCreateCreditNoteHistoryRequest {
	return ApiCreateCreditNoteHistoryRequest{
		ApiService: a,
		ctx: ctx,
		creditNoteID: creditNoteID,
	}
}

// Execute executes the request
//  @return HistoryRecords
func (a *AccountingAPIService) CreateCreditNoteHistoryExecute(r ApiCreateCreditNoteHistoryRequest) (*HistoryRecords, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HistoryRecords
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountingAPIService.CreateCreditNoteHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/CreditNotes/{CreditNoteID}/History"
	localVarPath = strings.Replace(localVarPath, "{"+"CreditNoteID"+"}", url.PathEscape(parameterValueToString(r.creditNoteID, "creditNoteID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xeroTenantId == nil {
		return localVarReturnValue, nil, reportError("xeroTenantId is required and must be specified")
	}
	if r.historyRecords == nil {
		return localVarReturnValue, nil, reportError("historyRecords is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
[...]
