openapi: 3.0.0
info:
  contact:
    email: api@xero.com
    name: Xero Platform Team
    url: https://developer.xero.com
  description: These endpoints are related to managing authentication tokens and identity
    for Xero API
  license:
    name: MIT
    url: https://github.com/XeroAPI/Xero-OpenAPI/blob/master/LICENSE
  termsOfService: https://developer.xero.com/xero-developer-platform-terms-conditions/
  title: Xero OAuth 2 Identity Service API
  version: 2.40.0
servers:
- description: Xero Identity service API
  url: https://api.xero.com
paths:
  /Connections:
    get:
      description: Override the base server url that include version
      operationId: getConnections
      parameters:
      - description: Filter by authEventId
        example: 00000000-0000-0000-0000-000000000000
        explode: true
        in: query
        name: authEventId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example: "[ { \"id\": \"7cb59f93-2964-421d-bb5e-a0f7a4572a44\", \"tenantId\"\
                : \"fe79f7dd-b6d4-4a92-ba7b-538af6289c58\", \"tenantName\": \"Demo\
                \ Company (NZ)\", \"tenantType\": \"ORGANISATION\", \"createdDateUtc\"\
                : \"2019-12-07T18:46:19.5165400\", \"updatedDateUtc\": \"2019-12-07T18:46:19.5187840\"\
                \ } ]"
              schema:
                items:
                  $ref: '#/components/schemas/Connection'
                type: array
          description: Success - return response of type Connections array with 0
            to n Connection
      security:
      - OAuth2: []
      summary: Retrieves the connections for this user
      tags:
      - identity
      x-basepath: https://api.xero.com
  /Connections/{id}:
    delete:
      description: Override the base server url that include version
      operationId: deleteConnection
      parameters:
      - description: Unique identifier for retrieving single object
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Success - connection has been deleted no content returned
        "404":
          description: Resource not found
      security:
      - OAuth2: []
      summary: Deletes a connection for this user (i.e. disconnect a tenant)
      tags:
      - identity
      x-basepath: https://api.xero.com
components:
  schemas:
    Connection:
      example:
        tenantType: tenantType
        updatedDateUtc: 2000-01-23T04:56:07.000+00:00
        tenantName: tenantName
        createdDateUtc: 2000-01-23T04:56:07.000+00:00
        tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        authEventId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      externalDocs:
        url: http://developer.xero.com
      properties:
        id:
          description: Xero identifier
          format: uuid
          type: string
        tenantId:
          description: Xero identifier of organisation
          format: uuid
          type: string
        authEventId:
          description: Identifier shared across connections authorised at the same
            time
          format: uuid
          type: string
        tenantType:
          description: "Xero tenant type (i.e. ORGANISATION, PRACTICE)"
          type: string
        tenantName:
          description: Xero tenant name
          type: string
        createdDateUtc:
          description: The date when the user connected this tenant to your app
          format: date-time
          type: string
          x-is-datetime: true
          x-php-format: \DateTime
        updatedDateUtc:
          description: The date when the user most recently connected this tenant
            to your app. May differ to the created date if the user has disconnected
            and subsequently reconnected this tenant to your app.
          format: date-time
          type: string
          x-is-datetime: true
          x-php-format: \DateTime
    RefreshToken:
      externalDocs:
        url: http://developer.xero.com
      properties:
        grant_type:
          description: Xero grant type
          type: string
        refresh_token:
          description: refresh token provided during authentication flow
          type: string
        client_id:
          description: client id for Xero app
          type: string
        client_secret:
          description: client secret for Xero app 2
          type: string
      type: object
    AccessToken:
      externalDocs:
        url: http://developer.xero.com
      properties:
        id_token:
          description: Xero unique identifier
          type: string
        access_token:
          description: access token provided during authentication flow
          type: string
        expires_in:
          description: time in seconds until access token expires.
          format: int64
          type: integer
        token_type:
          description: type of token i.e. Bearer
          type: string
        refresh_token:
          description: token used to refresh an expired access token
          type: string
      type: object
  securitySchemes:
    BasicAuth:
      scheme: basic
      type: http
    OAuth2:
      description: For more information
      flows:
        authorizationCode:
          authorizationUrl: https://login.xero.com/identity/connect/authorize
          scopes:
            email: Grant read-only access to your email
            openid: Grant read-only access to your open id
            profile: your profile information
          tokenUrl: https://identity.xero.com/connect/token
      type: oauth2
